
{% extends 'base.html' %}
{% block title %}SCHEDULE{% endblock title %}
{% block body %}
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Train Number</th>
      <th scope="col">Train Name</th>
      <th scope="col">Source</th>
      <th scope="col">Destination</th>
      <th scope="col">Depart</th>
      <th scope="col">Arrival</th>
    </tr>
  </thead>
  {% for i in key1 %}
  <tbody>
    <tr>
      <td>{{i.train_no}}</td>
      <td>{{i.train_name}}</td>
      <td>{{i.train_source}}</td>
      <td>{{i.train_dest}}</td>
      <td>{{i.train_departure}}</td>
      <td>{{i.train_arrival}}</td>
    </tr>
  </tbody>
  {% endfor %}
</table>
{% endblock body %}